
<footer class="pt-4 pb-4 text-center bg-light">
    <div class="container">
      <div class="elfsight-app-262de323-1c7f-47a5-aa50-769af0c813ca"></div>
      <div class="my-3">
        <div class="h4">Sachin Sahu</div>
        <p>Senior Front-End Engineer</p>
        <a href="https://www.buymeacoffee.com/" target="_new"><img src="assets/images/bmc-button.png"
            width="130px"></a>
        <div class="social-nav">
          <nav role="navigation">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/sachinsahu1224/"
                  title="Instagram"><i class="fab fa-instagram"></i><span
                    class="menu-title sr-only">Instagram</span></a></li>
              <li class="nav-item"><a class="nav-link"
                  href="https://www.linkedin.com/in/sachin-sahu-130a55a7/" title="LinkedIn"><i
                    class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.quora.com/profile/Sachin-Sahu-74"
                  title="Quora"><i class="fab fa-quora"></i><span class="menu-title sr-only">Quora</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="tel:+8839547631" title="Phone"><i
                    class="fa fa-phone"></i><span class="menu-title sr-only">Phone</span></a></li>
              <li class="nav-item"><a class="nav-link" href="mailto:sasachin1224gmail.com" title="Mail"><i
                    class="fa fa-envelope"></i><span class="menu-title sr-only">Mail</span></a></li>
              <li class="nav-item"><a class="nav-link" href="https://twitter.com/Sachin-Sahu"
                  title="Twitter"><i class="fab fa-twitter"></i><span
                    class="menu-title sr-only">Twitter</span></a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/sachin.sahu.7771/"
                  title="Facebook"><i class="fab fa-facebook"></i><span
                    class="menu-title sr-only">Facebook</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
   </div>
  </footer>

<div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i
    class="fas fa-angle-up fa-x"></i></span></a></div>